<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
          <h3>비회원게시판</h3>
            <form>
          제목<input type="text" class="gbtitle">
          내용<input type="text" class="gbcontent">
          작성자<input type="text" class="gbwrite">
         <button type="button" onclick="setgboard()">글등록</button>
            </form>

          <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
          <script src="/js/board/gboard.js"></script>

</body>
</html>