<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
<a href="/"><button type="button">메인페이지</button></a>
<a href="/board/list"><button>게시판</button></a>
<a href="/board/gboard"><button>비회원 방문록</button></a>
</form>
<div class="headerbox">

</div>
<table class="mtable">
    <tr>
        <th>번호</th><th>이메일</th><th>비밀번호</th>
    </tr>

</table>


<!-- Link to open the modal -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>